doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    title StartUp
  body
    header
      .wrapper
        .menu.justify-between
          a.logo(href="index.html") Startup 
          .home.flex
            a.hometxt Home
            a.hometxt Services
            a.hometxt About
            a.hometxt Works
            a.hometxt Blog
            a.hometxt Clients
            a.hometxt Contact
        .welcome 
          .hi
            h1 welcome to startup
            p.ur Your Favourite Creative Agency Template
            p.getstart
              a.getstarted(href="#") Get Started
    main 
      .wrapper
        div.services
          h2.h2-txt Services
          hr.hr-underh2
          p.underh2-txt We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
          .thre-serv.justify-between.align-items
            .first-serv.align-items.column
              .icon-serv
                .pho
                  .icon-svg.icon-font
              p.fi-h-txt Clean Typography
              p.fi-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            .middle-serv.align-items.column
              .icon-serv
                .pho
                  .icon-svg.icon-code
              p.fi-h-txt Rock Solid Code
              p.fi-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            .last-serv.align-items.column 
              .icon-serv
                .pho
                  .icon-svg.icon-support
              p.fi-h-txt Expert Support
              p.fi-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.