doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    title StartUp
  body
    header(id="0")
      .menu
        .wrapper
          .justify-between.align-items.relative
            a.logo(href="index.html") Startup 
            .home.flex
              a(href="#0").hometxt Home
              a(href="#1").hometxt Services
              a(href="#2").hometxt About
              a(href="#3").hometxt Works
              a.hometxt Blog
              a.hometxt Clients
              a.hometxt Contact
      .wrapper
        .welcome 
          .hi
            h1 welcome to startup
            p.ur Your Favourite Creative Agency Template
            p.getstart
              a.getstarted(href="#") Get Started
    main 
      .wrapper
        .services(id="1")
          h2.h2-txt Services
          hr.hr-underh2
          p.underh2-txt We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
          .thre-serv.justify-between.align-items
            .first-serv.align-items.column
              .icon-serv
                .pho(id="d")
                  .icon-svg.icon-font
              p.fi-h-txt(id="icon-1") Clean Typography
              p.fi-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            .middle-serv.align-items.column
              .icon-serv
                .pho(id="b")
                  .icon-svg.icon-code
              p.fi-h-txt(id="icon-2") Rock Solid Code
              p.fi-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            .last-serv.align-items.column 
              .icon-serv
                .pho(id="q")
                  .icon-svg.icon-support
              p.fi-h-txt(id="icon-3") Expert Support
              p.fi-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
      .aboutus(id="2")
        .wrapper.aboutuz
          h2.h2-txt.chik About Us
          hr.hr-underh2
          p.underh2-txt We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
          .txt-about.justify-between
            p.txt-aboutus Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
            p.txt-aboutus Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
          .cards-peoples.align-items.justify-between
            button.left_button(type="button" id="10")
              svg.left_angle(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 8 14' width='8' height='14')
                style.
                  .a{fill:#ddd}
                path.a(d='m8 1.2q0-0.2-0.1-0.4l-0.7-0.7q-0.2-0.1-0.3-0.1-0.2 0-0.4 0.1l-6.4 6.6q-0.1 0.1-0.1 0.3 0 0.2 0.1 0.3l6.4 6.6q0.2 0.1 0.4 0.1 0.1 0 0.3-0.1l0.7-0.7c0-0.1 0.1-0.3 0.1-0.4q0-0.1-0.1-0.3l-5.4-5.5 5.4-5.5q0.1-0.2 0.1-0.3z')
            button.right_button(type="button" id="10")
              svg.right_angle(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 8 14' width='8' height='14')
                style.
                  .a{fill:#ddd}
                path.a(d='m8 1.2q0-0.2-0.1-0.4l-0.7-0.7q-0.2-0.1-0.3-0.1-0.2 0-0.4 0.1l-6.4 6.6q-0.1 0.1-0.1 0.3 0 0.2 0.1 0.3l6.4 6.6q0.2 0.1 0.4 0.1 0.1 0 0.3-0.1l0.7-0.7c0-0.1 0.1-0.3 0.1-0.4q0-0.1-0.1-0.3l-5.4-5.5 5.4-5.5q0.1-0.2 0.1-0.3z')
            .card1.align-items
              .photo-wrap
                img.bro-margin(src="img/uddin.png")
                .backs
                  .backs-flex
                    img.sd(src="img/facebook.svg")
                    img.sd(src="img/twitter.svg")
                    img.sd(src="img/google.svg")
                    img.sd(src="img/linkedin.svg")
              p.name Md. Khalil Uddin
              p.who Head of Ideas
            .card2.align-items
              .photo-wrap
                img.bro-margin(src="img/miah.png")
                .backs
                  .backs-flex
                    img.sd(src="img/facebook.svg")
                    img.sd(src="img/twitter.svg")
                    img.sd(src="img/google.svg")
                    img.sd(src="img/linkedin.svg")
              p.name Rubel Miah
              p.who Lead WordPress Developer
            .card3.align-items
              .photo-wrap
                img.bro-margin(src="img/mia.png")
                .backs
                  .backs-flex
                    img.sd(src="img/facebook.svg")
                    img.sd(src="img/twitter.svg")
                    img.sd(src="img/google.svg")
                    img.sd(src="img/linkedin.svg")
              p.name Shamim Mia
              p.who Sr. Web Developer
            .card4.align-items
              .photo-wrap
                img.bro-margin(src="img/doe.png")
                .backs
                  .backs-flex
                    img.sd(src="img/facebook.svg")
                    img.sd(src="img/twitter.svg")
                    img.sd(src="img/google.svg")
                    img.sd(src="img/linkedin.svg")
              p.name John Doe
              p.who Front-end Developer
      .latestworks(id="3").wrapper.chik
        h2.h2-txt Latest Works
        hr.hr-underh2
        .categories
          a(href="#" id="ds") All
          a(href="#" id="ks") Branding
          a(href="#" id="vs") Design
          a(href="#" id="gs") Development
          a(href="#" id="ws") Strategy
        .items 
          .img.img-1(tabindex="0")
            img.jsc(src="img/hair.png", alt="волосся")
            .txt-img
              p.name-item Hair Dresser
              p.name-categ Branding
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          .img.img-2(tabindex="0")
            img.jsc(src="img/bird.png", alt="птаха")
            .txt-img
              p.name-item Paper Bird
              p.name-categ Design
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          .img.img-3(tabindex="0")
            img.jsc(src="img/work.png", alt="робоче місце")
            .txt-img
              p.name-item Workspace
              p.name-categ Branding, Design
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          .img.img-4(tabindex="0")
            img.jsc(src="img/camera.png", alt="фотоапарат")
            .txt-img
              p.name-item Camera
              p.name-categ Development, Strategy
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          .img.img-5(tabindex="0")
            img.jsc(src="img/bike.png", alt="велосипед")
            .txt-img
              p.name-item Bike
              p.name-categ Development
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          .img.img-6(tabindex="0")
            img.jsc(src="img/note.png", alt="блокнот")
            .txt-img
              p.name-item Note
              p.name-categ Development
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          .img.img-7(tabindex="0")
            img.jsc(src="img/table.png", alt="робочий стіл")
            .txt-img
              p.name-item Table With Laptop
              p.name-categ Branding
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          .img.img-8(tabindex="0")
            img.jsc(src="img/paper.png", alt="інструменти та папір")
            .txt-img
              p.name-item Papers And Instruments
              p.name-categ Strategy, Design
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          .img.img-9(tabindex="0")
            img.jsc(src="img/anything.png", alt="карточка")
            .txt-img
              p.name-item Anything, maybe card
              p.name-categ Branding
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
      .doyou 
        .wrapper.column.align-items
          .margins
            h2.dolike Do you like OUR WORK so far? 
            h2.dolike Let's talk about YOUR PROJECT!
          a.dolike-btn(href="#") Get in Touch
      .blogpost.wrapper.column.align-items
        h2.h2-txt.chik Recent blog posts
        hr.hr-underh2
        p.underh2-txt We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
        .read 
          .first-read 
            img(src="img/whats.png", alt="Стіл якийсь")
            .txt-more
              .up-txt.align-items
                .data 
                  p 18
                  p Oct
                .zagovolok
                  h4 Startup ideas needs to be funded 
                  p
                    span.just By 
                    a(href="#2").red Khalil 
                    span.just Uddin in 
                    span.red Development
              .txt 
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 

                p.hidden-txt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam

              a(href="#").readmore read more 
          .second-read
            img(src="img/papirs.png", alt="Робоче місце")
            .txt-more
              .up-txt.align-items
                .data 
                  p 18
                  p Oct
                .zagovolok
                  h4.nored User Interface Designing Elements 
                  p 
                    span.just By Khalil Uddin in Development 
              .txt 
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 

                p.hidden-txt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam

              a(href="#").readmore read more 

    script(src="js/scripts.js") 