doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    title StartUp
  body
    header(id="0")
      .menu
        .wrapper
          .justify-between.align-items.relative.fuc
            a.logo(href="index.html") Startup 
            .jegernout
              .dark-bgc
              .burger
                  span.bord.b1
                  span.bord.b2
                  span.bord.b3
              .home.flex
                a(href="#0").hometxt Home
                a(href="#1").hometxt Services
                a(href="#2").hometxt About
                a(href="#3").hometxt Works
                a(href="#4").hometxt Blog
                a(href="#5").hometxt Clients
                a(href="#6").hometxt Contact
                p.cancel X
      .wrapper
        .welcome 
          .hi
            h1 welcome to startup
            p.ur Your Favourite Creative Agency Template
            p.getstart
              a.getstarted(href="#") Get Started
    main(id="1")
      .wrapper
        .services
          h2.h2-txt Services
          hr.hr-underh2
          p.underh2-txt We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
          .thre-serv.justify-between.align-items
            .first-serv.align-items.column
              .icon-serv
                .pho(id="d")
                  .icon-svg.icon-font
              p.fi-h-txt(id="icon-1") Clean Typography
              p.fi-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            .middle-serv.align-items.column
              .icon-serv
                .pho(id="b")
                  .icon-svg.icon-code
              p.fi-h-txt(id="icon-2") Rock Solid Code
              p.fi-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
            .last-serv.align-items.column 
              .icon-serv
                .pho(id="q")
                  .icon-svg.icon-support
              p.fi-h-txt(id="icon-3") Expert Support
              p.fi-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
      .aboutus(id="2")
        .wrapper.aboutuz
          h2.h2-txt.chik About Us
          hr.hr-underh2
          p.underh2-txt We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
          .txt-about.justify-between
            p.txt-aboutus Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
            p.txt-aboutus Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
          .cards-peoples.align-items.justify-between
            button.left_button(type="button" id="10")
              svg.left_angle(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 8 14' width='8' height='14')
                style.
                  .a{fill:#ddd}
                path.a(d='m8 1.2q0-0.2-0.1-0.4l-0.7-0.7q-0.2-0.1-0.3-0.1-0.2 0-0.4 0.1l-6.4 6.6q-0.1 0.1-0.1 0.3 0 0.2 0.1 0.3l6.4 6.6q0.2 0.1 0.4 0.1 0.1 0 0.3-0.1l0.7-0.7c0-0.1 0.1-0.3 0.1-0.4q0-0.1-0.1-0.3l-5.4-5.5 5.4-5.5q0.1-0.2 0.1-0.3z')
            button.right_button(type="button" id="10")
              svg.right_angle(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 8 14' width='8' height='14')
                style.
                  .a{fill:#ddd}
                path.a(d='m8 1.2q0-0.2-0.1-0.4l-0.7-0.7q-0.2-0.1-0.3-0.1-0.2 0-0.4 0.1l-6.4 6.6q-0.1 0.1-0.1 0.3 0 0.2 0.1 0.3l6.4 6.6q0.2 0.1 0.4 0.1 0.1 0 0.3-0.1l0.7-0.7c0-0.1 0.1-0.3 0.1-0.4q0-0.1-0.1-0.3l-5.4-5.5 5.4-5.5q0.1-0.2 0.1-0.3z')
            .card1.align-items
              .photo-wrap
                img.bro-margin(src="img/uddin.png")
                .backs
                  .backs-flex
                    img.sd(src="img/facebook.svg")
                    img.sd(src="img/twitter.svg")
                    img.sd(src="img/google.svg")
                    img.sd(src="img/linkedin.svg")
              p.name Md. Khalil Uddin
              p.who Head of Ideas
            .card2.align-items
              .photo-wrap
                img.bro-margin(src="img/miah.png")
                .backs
                  .backs-flex
                    img.sd(src="img/facebook.svg")
                    img.sd(src="img/twitter.svg")
                    img.sd(src="img/google.svg")
                    img.sd(src="img/linkedin.svg")
              p.name Rubel Miah
              p.who Lead WordPress Developer
            .card3.align-items
              .photo-wrap
                img.bro-margin(src="img/mia.png")
                .backs
                  .backs-flex
                    img.sd(src="img/facebook.svg")
                    img.sd(src="img/twitter.svg")
                    img.sd(src="img/google.svg")
                    img.sd(src="img/linkedin.svg")
              p.name Shamim Mia
              p.who Sr. Web Developer
            .card4.align-items
              .photo-wrap
                img.bro-margin(src="img/doe.png")
                .backs
                  .backs-flex
                    img.sd(src="img/facebook.svg")
                    img.sd(src="img/twitter.svg")
                    img.sd(src="img/google.svg")
                    img.sd(src="img/linkedin.svg")
              p.name John Doe
              p.who Front-end Developer
      .latestworks(id="3").wrapper.chik
        h2.h2-txt Latest Works
        hr.hr-underh2
        .categories
          a(href="#" id="all") All
          a(href="#" id="branding") Branding
          a(href="#" id="design") Design
          a(href="#" id="development") Development
          a(href="#" id="strategy") Strategy
        .items 
          figure.img(tabindex="0" data-category="branding")
            img.jsc(src="img/hair.png", alt="волосся")
            figcaption.txt-img
              p.name-item Hair Dresser
              p.name-categ Branding
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          figure.img(tabindex="0" data-category="design")
            img.jsc(src="img/bird.png", alt="птаха")
            figcaption.txt-img
              p.name-item Paper Bird
              p.name-categ Design
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          figure.img(tabindex="0" data-category="branding design")
            img.jsc(src="img/work.png", alt="робоче місце")
            figcaption.txt-img
              p.name-item Workspace
              p.name-categ Branding, Design
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          figure.img(tabindex="0" data-category="development strategy")
            img.jsc(src="img/camera.png", alt="фотоапарат")
            figcaption.txt-img
              p.name-item Camera
              p.name-categ Development, Strategy
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          figure.img(tabindex="0" data-category="development")
            img.jsc(src="img/bike.png", alt="велосипед")
            figcaption.txt-img
              p.name-item Bike
              p.name-categ Development
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          figure.img(tabindex="0" data-category="development")
            img.jsc(src="img/note.png", alt="блокнот")
            figcaption.txt-img
              p.name-item Note
              p.name-categ Development
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          figure.img(tabindex="0" data-category="branding")
            img.jsc(src="img/table.png", alt="робочий стіл")
            figcaption.txt-img
              p.name-item Table With Laptop
              p.name-categ Branding
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          figure.img(tabindex="0" data-category="strategy design")
            img.jsc(src="img/paper.png", alt="інструменти та папір")
            figcaption.txt-img
              p.name-item Papers And Instruments
              p.name-categ Strategy, Design
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
          figure.img(tabindex="0" data-category="branding")
            img.jsc(src="img/anything.png", alt="карточка")
            figcaption.txt-img
              p.name-item Anything, maybe card
              p.name-categ Branding
              label.sdsx
                a View
                svg.sdc(version='1.2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 6 10' width='6' height='10')
                  style.
                    .a{fill:#c0301c}
                  path.a(d='m0 9.2q0 0.1 0.1 0.2l0.5 0.5q0.1 0.1 0.3 0.1 0.1 0 0.2-0.1l4.8-4.7q0.1-0.1 0.1-0.2 0-0.1-0.1-0.2l-4.8-4.7q-0.1-0.1-0.2-0.1-0.2 0-0.3 0.1l-0.5 0.5q-0.1 0.1-0.1 0.2 0 0.2 0.1 0.3l4.1 3.9-4.1 3.9q-0.1 0.1-0.1 0.3z')
      .doyou 
        .wrapper.column.align-items
          .margins
            h2.dolike Do you like OUR WORK so far? 
            h2.dolike Let's talk about YOUR PROJECT!
          a(href="#6").dolike-btn Get in Touch
      .blogpost(id="4").wrapper.column.align-items
        h2.h2-txt.chik Recent blog posts
        hr.hr-underh2
        p.underh2-txt We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
        .read 
          .first-read 
            img(src="img/whats.png", alt="Стіл якийсь")
            .txt-more
              .up-txt.align-items
                .data 
                  p 18
                  p Oct
                .zagovolok
                  h4 Startup ideas needs to be funded 
                  p
                    span.just By 
                    a(href="#2").red Khalil 
                    span.just Uddin in 
                    span.red Development
              .txt 
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 

                p.hidden-txt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam

              a(href="#").readmore read more 
          .second-read
            img(src="img/papirs.png", alt="Робоче місце")
            .txt-more
              .up-txt.align-items
                .data 
                  p 18
                  p Oct
                .zagovolok
                  h4.nored User Interface Designing Elements 
                  p 
                    span.just By Khalil Uddin in Development 
              .txt 
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 

                p.hidden-txt Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam

              a(href="#").readmore read more 
      .slider-logos(id="5").chik.column.align-items
        .slider-logs.align-items
          img(src="img/deorham.png", alt="deorham")
          img(src="img/ratings.png", alt="ratings")
          img(src="img/malikmedia.png", alt="malikmedia")
          img(src="img/bcause.png", alt="bcause")
          img(src="img/wompeby.png", alt="wompeby")
        p.txt-log Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
        p.txt-logs John Doe, Google Inc.
        .s
          a(href="#" id="s1").s1 
          a(href="#" id="s2").s2 
          a(href="#" id="s3").s3 
      .getintouch(id="6").wrapper
        .column.align-items
          h2.h2-txt.chik Get in touch
          hr.hr-underh2
          p.underh2-txt We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
        .formandtxt.justify-between
          .info 
            .first-info
              .hight
                img(src="img/marker.svg", alt="Позначка")
                p.address Address
              .txt-info 
                p.jeker 312, 7th Ave, New York
                p.jeker NY 101200, United States of America
            .second-info
              .hight
                img(src="img/phone.svg", alt="Позначка")
                p.address Hotline (24x7)
              .txt-info 
                p.jeker +65 0052 300, +65 88251 210
                p.jeker +88 01723 511 340
            .third-info
              .hight
                img(src="img/email.svg", alt="Позначка")
                p.address E-mail
              .txt-info 
                p.jeker shapedtheme@gmail.com
                p.jeker khalilkode@gmail.com
          .form
            form(action="#" method="post")
              .jokers
                p
                  label
                    input.class(type="text" name="userName" placeholder="Your Name" required)
                p
                  label
                    input.class(type="email" name="userMail" placeholder="Your E-mail" required)
              .jokers
                p
                  label
                    input.class(type="text" name="userSubject" placeholder="Your subject" required)
                p
                  label
                    input.class(type="text" name="companyName" placeholder="Company name" required)
              p.chks
                label
                  textarea.class(name="userMessage" placeholder="Write Your Message" required)
              p.sc
                label
                  button.vasya(type="submit") Send message
                label
                  span.sw * 
                  span We’ll contact you as as possible. We don’t reply on Monday.
    footer.column.align-items
      .birds 
        a(href="#" id="sdx") 
          p
            img(src="img/foottwitter.svg", alt="twitter")
        a(href="#" id="sdx") 
          p
            img(src="img/foottwitter.svg", alt="twitter")
        a(href="#" id="sdx") 
          p
            img(src="img/foottwitter.svg", alt="twitter")
        a(href="#" id="sdx") 
          p
            img(src="img/foottwitter.svg", alt="twitter")
      hr.hr-foot
      p.foot-txt © 2015 Startup, Designed by ShapedTheme
    script(src="js/scripts.js") 